# ignore everything by default
*

# make sure that git actually checks inside subdirectories
!*/

# for some reason these directories keep being tracked despite my best efforts so I just specified them all here.
Projects/
Desktop/
Downloads/
Pictures/
vim/
.vim/bundle/YouCompleteMe/
.vim/bundle/ale/
.vim/bundle/nord-vim/
.vim/bundle/vim-autotag/
.vim/bundle/vim-commentary/
.vim/bundle/vim-easy-align/
.vim/bundle/vim-fugitive/
.vim/bundle/vim-gitgutter/
.vim/bundle/vimspector/

# don't ignore these files
!.bash_profile
!.bashrc
!.config/htop/htoprc
!.config/pgcli/config
!.ctags
!.gitconfig
!.github/README.md
!.gitignore
!.git-completion.bash
!.inputrc
!.tmux.conf
!.tmux-powerlinerc
!.vimrc

# don't ignore these directories

# i have to specify each level of files
# deep that I want so I just did 20 levels so
# that way i probably won't miss anything

# .riley-scripts/
!.riley_utils/*
!.riley_utils/*/*
!.riley_utils/*/*/*
!.riley_utils/*/*/*/*
!.riley_utils/*/*/*/*/*
!.riley_utils/*/*/*/*/*/*
!.riley_utils/*/*/*/*/*/*/*
!.riley_utils/*/*/*/*/*/*/*/*
!.riley_utils/*/*/*/*/*/*/*/*/*
!.riley_utils/*/*/*/*/*/*/*/*/*/*
!.riley_utils/*/*/*/*/*/*/*/*/*/*/*
!.riley_utils/*/*/*/*/*/*/*/*/*/*/*/*
!.riley_utils/*/*/*/*/*/*/*/*/*/*/*/*/*
!.riley_utils/*/*/*/*/*/*/*/*/*/*/*/*/*/*
!.riley_utils/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*
!.riley_utils/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*
!.riley_utils/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*
!.riley_utils/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*
!.riley_utils/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*
!.riley_utils/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*
!.riley_utils/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*

# .tmux/plugins/tpm/
!.tmux/plugins/tpm/*
!.tmux/plugins/tpm/*/*
!.tmux/plugins/tpm/*/*/*
!.tmux/plugins/tpm/*/*/*/*
!.tmux/plugins/tpm/*/*/*/*/*
!.tmux/plugins/tpm/*/*/*/*/*/*
!.tmux/plugins/tpm/*/*/*/*/*/*/*
!.tmux/plugins/tpm/*/*/*/*/*/*/*/*
!.tmux/plugins/tpm/*/*/*/*/*/*/*/*/*
!.tmux/plugins/tpm/*/*/*/*/*/*/*/*/*/*
!.tmux/plugins/tpm/*/*/*/*/*/*/*/*/*/*/*
!.tmux/plugins/tpm/*/*/*/*/*/*/*/*/*/*/*/*
!.tmux/plugins/tpm/*/*/*/*/*/*/*/*/*/*/*/*/*
!.tmux/plugins/tpm/*/*/*/*/*/*/*/*/*/*/*/*/*/*
!.tmux/plugins/tpm/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*
!.tmux/plugins/tpm/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*
!.tmux/plugins/tpm/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*
!.tmux/plugins/tpm/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*
!.tmux/plugins/tpm/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*
!.tmux/plugins/tpm/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*
!.tmux/plugins/tpm/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*

# .tmux/tmux-powerline-customize/
!.tmux/tmux-powerline-customize/*
!.tmux/tmux-powerline-customize/*/*
!.tmux/tmux-powerline-customize/*/*/*
!.tmux/tmux-powerline-customize/*/*/*/*
!.tmux/tmux-powerline-customize/*/*/*/*/*
!.tmux/tmux-powerline-customize/*/*/*/*/*/*
!.tmux/tmux-powerline-customize/*/*/*/*/*/*/*
!.tmux/tmux-powerline-customize/*/*/*/*/*/*/*/*
!.tmux/tmux-powerline-customize/*/*/*/*/*/*/*/*/*
!.tmux/tmux-powerline-customize/*/*/*/*/*/*/*/*/*/*
!.tmux/tmux-powerline-customize/*/*/*/*/*/*/*/*/*/*/*
!.tmux/tmux-powerline-customize/*/*/*/*/*/*/*/*/*/*/*/*
!.tmux/tmux-powerline-customize/*/*/*/*/*/*/*/*/*/*/*/*/*
!.tmux/tmux-powerline-customize/*/*/*/*/*/*/*/*/*/*/*/*/*/*
!.tmux/tmux-powerline-customize/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*
!.tmux/tmux-powerline-customize/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*
!.tmux/tmux-powerline-customize/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*
!.tmux/tmux-powerline-customize/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*
!.tmux/tmux-powerline-customize/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*
!.tmux/tmux-powerline-customize/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*
!.tmux/tmux-powerline-customize/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*

# .vim/
!.vim/bundle/Vundle.vim/*
!.vim/bundle/Vundle.vim/*/*
!.vim/bundle/Vundle.vim/*/*/*
!.vim/bundle/Vundle.vim/*/*/*/*
!.vim/bundle/Vundle.vim/*/*/*/*/*
!.vim/bundle/Vundle.vim/*/*/*/*/*/*
!.vim/bundle/Vundle.vim/*/*/*/*/*/*/*
!.vim/bundle/Vundle.vim/*/*/*/*/*/*/*/*
!.vim/bundle/Vundle.vim/*/*/*/*/*/*/*/*/*
!.vim/bundle/Vundle.vim/*/*/*/*/*/*/*/*/*/*
!.vim/bundle/Vundle.vim/*/*/*/*/*/*/*/*/*/*/*
!.vim/bundle/Vundle.vim/*/*/*/*/*/*/*/*/*/*/*/*
!.vim/bundle/Vundle.vim/*/*/*/*/*/*/*/*/*/*/*/*/*
!.vim/bundle/Vundle.vim/*/*/*/*/*/*/*/*/*/*/*/*/*/*
!.vim/bundle/Vundle.vim/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*
!.vim/bundle/Vundle.vim/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*
!.vim/bundle/Vundle.vim/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*
!.vim/bundle/Vundle.vim/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*
!.vim/bundle/Vundle.vim/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*
!.vim/bundle/Vundle.vim/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*
!.vim/bundle/Vundle.vim/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*

