# Ignore everything by default
*

# Make sure that git actually checks inside subdirectories
!*/

# Don't ignore these files
!.bash_profile
!.bashrc
!.config/htop/htoprc
!.config/pgcli/config
!.ctags
!.gitconfig
!.github/README.md
!.gitignore
!.git-completion.bash
!.inputrc
!.tmux.conf
!.tmux-powerlinerc
!.vimrc

# Don't ignore these directories

# I have to specify each level of files
# deep that I want so I just did 20 levels so
# that way i probably won't miss anything

# .riley-scripts/
!.riley-scripts/*
!.riley-scripts/*/*
!.riley-scripts/*/*/*
!.riley-scripts/*/*/*/*
!.riley-scripts/*/*/*/*/*
!.riley-scripts/*/*/*/*/*/*
!.riley-scripts/*/*/*/*/*/*/*
!.riley-scripts/*/*/*/*/*/*/*/*
!.riley-scripts/*/*/*/*/*/*/*/*/*
!.riley-scripts/*/*/*/*/*/*/*/*/*/*
!.riley-scripts/*/*/*/*/*/*/*/*/*/*/*
!.riley-scripts/*/*/*/*/*/*/*/*/*/*/*/*
!.riley-scripts/*/*/*/*/*/*/*/*/*/*/*/*/*
!.riley-scripts/*/*/*/*/*/*/*/*/*/*/*/*/*/*
!.riley-scripts/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*
!.riley-scripts/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*
!.riley-scripts/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*
!.riley-scripts/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*
!.riley-scripts/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*
!.riley-scripts/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*
!.riley-scripts/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*

# .tmux/plugins/tpm/
!.tmux/plugins/tpm/*
!.tmux/plugins/tpm/*/*
!.tmux/plugins/tpm/*/*/*
!.tmux/plugins/tpm/*/*/*/*
!.tmux/plugins/tpm/*/*/*/*/*
!.tmux/plugins/tpm/*/*/*/*/*/*
!.tmux/plugins/tpm/*/*/*/*/*/*/*
!.tmux/plugins/tpm/*/*/*/*/*/*/*/*
!.tmux/plugins/tpm/*/*/*/*/*/*/*/*/*
!.tmux/plugins/tpm/*/*/*/*/*/*/*/*/*/*
!.tmux/plugins/tpm/*/*/*/*/*/*/*/*/*/*/*
!.tmux/plugins/tpm/*/*/*/*/*/*/*/*/*/*/*/*
!.tmux/plugins/tpm/*/*/*/*/*/*/*/*/*/*/*/*/*
!.tmux/plugins/tpm/*/*/*/*/*/*/*/*/*/*/*/*/*/*
!.tmux/plugins/tpm/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*
!.tmux/plugins/tpm/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*
!.tmux/plugins/tpm/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*
!.tmux/plugins/tpm/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*
!.tmux/plugins/tpm/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*
!.tmux/plugins/tpm/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*
!.tmux/plugins/tpm/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*

# .tmux/tmux-powerline-customize/
!.tmux/tmux-powerline-customize/*
!.tmux/tmux-powerline-customize/*/*
!.tmux/tmux-powerline-customize/*/*/*
!.tmux/tmux-powerline-customize/*/*/*/*
!.tmux/tmux-powerline-customize/*/*/*/*/*
!.tmux/tmux-powerline-customize/*/*/*/*/*/*
!.tmux/tmux-powerline-customize/*/*/*/*/*/*/*
!.tmux/tmux-powerline-customize/*/*/*/*/*/*/*/*
!.tmux/tmux-powerline-customize/*/*/*/*/*/*/*/*/*
!.tmux/tmux-powerline-customize/*/*/*/*/*/*/*/*/*/*
!.tmux/tmux-powerline-customize/*/*/*/*/*/*/*/*/*/*/*
!.tmux/tmux-powerline-customize/*/*/*/*/*/*/*/*/*/*/*/*
!.tmux/tmux-powerline-customize/*/*/*/*/*/*/*/*/*/*/*/*/*
!.tmux/tmux-powerline-customize/*/*/*/*/*/*/*/*/*/*/*/*/*/*
!.tmux/tmux-powerline-customize/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*
!.tmux/tmux-powerline-customize/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*
!.tmux/tmux-powerline-customize/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*
!.tmux/tmux-powerline-customize/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*
!.tmux/tmux-powerline-customize/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*
!.tmux/tmux-powerline-customize/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*
!.tmux/tmux-powerline-customize/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*

# .vim/
!.vim/Bundle/*
!.vim/Bundle/*/*
!.vim/Bundle/*/*/*
!.vim/Bundle/*/*/*/*
!.vim/Bundle/*/*/*/*/*
!.vim/Bundle/*/*/*/*/*/*
!.vim/Bundle/*/*/*/*/*/*/*
!.vim/Bundle/*/*/*/*/*/*/*/*
!.vim/Bundle/*/*/*/*/*/*/*/*/*
!.vim/Bundle/*/*/*/*/*/*/*/*/*/*
!.vim/Bundle/*/*/*/*/*/*/*/*/*/*/*
!.vim/Bundle/*/*/*/*/*/*/*/*/*/*/*/*
!.vim/Bundle/*/*/*/*/*/*/*/*/*/*/*/*/*
!.vim/Bundle/*/*/*/*/*/*/*/*/*/*/*/*/*/*
!.vim/Bundle/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*
!.vim/Bundle/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*
!.vim/Bundle/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*
!.vim/Bundle/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*
!.vim/Bundle/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*
!.vim/Bundle/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*
!.vim/Bundle/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*

