[user]
  name = Riley Voor
  email = riley.voor@gmail.com
[pull]
  rebase = false
[color "status"]
  untracked = red bold
  added = green bold
  updated = green bold
  changed = red bold
  header = blue bold
